ul {
  list-style-type: none;
  padding: 10px;
  height: 100%;
  width: 100%;
  top: 0;
  position: sticky;
}

li a{
  display: inline;
  float: left;
  text-align: center;
  padding: 8px 16px;
  color: #5c5b5b;
  background-color: #dddddd;
}

li a:hover {
  background-color: lightgrey;
  color: black;
  text-decoration: none;
}


h1 {
  color: black;
  font-size: 50px;
}

h2 {
  color: black;
  font-size: 25px;
}



body {
  padding-left: 30px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.post-form input {
  width: 100%;
}

div {
  width: auto;
  border: 5px solid gray;
  margin: 50;
  background: lightgray;
  font-size: 20px;
  padding: 10px;
  display: inline-block;
}

.navigator {
  width: 80%; padding: 10px;
  border: 5px solid gray;
  margin: 50;
  background: lightgray;
}

.tableIn {
  width: 100%;
  padding: 10px;
  border: 5px solid gray;
  margin: 50;
  background: lightgray;
  display: inline-block;
}

.tableOut {
  width: 80%;
  padding: 10px;
  border: 5px solid gray;
  margin: 50;
  background: lightgray;
  display: inline-block;
}

.flex-container {
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
}

.flex-container .box {
  background-color: #f1f1f1;
  width: 50%;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  display: inline-block;
}

.editIn{
  width: 80%
  display: inline-block;
}

.pw{
    width: 80%;
    display: inline-block;
}

.tarifAdd {
  width: 80%;
  display: inline-block;
}
