{% extends 'basic.html' %}

{% block content %}
<h1> Tarif löschen!</h1>
<br>
<form action="deletefunc" method="POST">
  {% csrf_token %}
  <div class="editIn">
    <label for="modelname">Welches Modell soll gelöscht werden?</label>
    <select name="modelname" id="modelname">
      {% for a in mylist%}
      <option value={{forloop.counter0}}>{{a}}</option>
      {% endfor %}
    </select>
  </div>
  <br><br>

  <input type="submit" value="Tarif löschen">
</form><br><br>



{% autoescape off %}
<h1> Übersicht Tarife und Kosten</h1>
<br>
<div class = tableIn>
<table>{{metable}}</table>
</div>
{% endautoescape %}

{% endblock %}
