{% extends 'basic.html' %}
{% load static %}
{% block content %}
<h1> Hier kann man die Eingaben in der Tabelle ändern! </h1>
<br>
<form action="editfunc" method="POST">
  {% csrf_token %}
  <div class = "editIn">
    <label for="modelname">Welches Modell soll geändert werden?</label>
    <select name="modelname" id="modelname">
      {% for a in mylist%}
      <option value={{forloop.counter0}}>{{a}}</option>
      {% endfor %}
    </select>
  </div>
  <br><br>
  <div class = "editIn">
    <label for="modelname">Welche Angabe soll geändert werden?</label>
    <select name="column" id="column">
      {% for a in myseclist%}
      <option value={{forloop.counter0}}>{{a}}</option>
      {% endfor %}
    </select>
  </div>
  <br><br>
  <div class = "editIn">
    Neuer Wert: <input type="number" name="newvalue" , min=0, value=1 step=0.01 required><br>
  </div>
  <br>
  <input type="submit">
  <br><br>
  <a href="addfuncstart">Neuen Tarif hinzufügen</a> <br>
  <a href="deletefuncstart">Tarif löschen</a>


</form>

<br><br>
{% autoescape off %}
<h1>Übersicht Tarife und Kosten</h1>
<br>
<div class=tableIn>
  <table>{{metable}}</table>
</div>
<br>
{% endautoescape %}

{% endblock %}
